/*
Selector {
	Property: value;
}
*/

* {
	text-align: right;
}

body {
	background-image: url(background.jpeg);
	background-size: cover;
}

h2 {
	color: #AA4139;
	text-align: center;
	border: 5px solid rgba(255, 176, 170, 0.5);
	cursor: pointer;
}

p:hover {
	color: darkgreen;
}

li {
	list-style: none;
	display: inline-block;
}


/*
:first-child 
:last-child
*/
.webtext:first-child {
	border: 5px dashed green;
}

.active-red {
	color: darkred;
}

#div-one {
	background: rgba(0, 0, 255, 0.2);
}

#div-two {
	background: rgba(255, 0, 0, 0.2);
}